* {
	margin: 0;
	box-sizing: border-box;
}
*,
html {
	scroll-behavior: smooth !important;
}

body {
	background-color: #011b30;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	user-select: none;
}
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #011b30;
	height: 120px;
}

.logo {
	overflow: scroll;
	max-width: 80px;
	max-height: 80px;
	cursor: pointer;
	border: 3px solid #011b30;
	transition: 0.3s;
	border-radius: 10px;
}

.logo:hover {
	border: 1px solid #216adf;
	max-width: 83px;
	max-height: 83px;
	border-radius: 10px;
}

.links-container {
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.links-container a {
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	color: white;
	transition: 0.3s;
	border-radius: 10px;
}

.links-container a:hover {
	border: 1px solid #216adf;
	border-radius: 10px;
	font-size: 21px;
}

.presentation {
	color: #39e8ff;
	font-size: 16px;
}

.name {
	color: #ccd6f6;
	font-size: 8vmin;
}

.profession {
	color: #a3bfd9;
	font-size: 72px;
}

.description {
	color: #a3bfd9;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 900px;
}

.home-container {
	line-height: 1.2;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 40px;
	height: 50%;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.view {
	background-color: #011b30;
	padding: 15px 25px 15px 25px;
	color: white;
	border: 2px solid rgb(209, 205, 205);
	transition: 0.4s;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	width: 150px;
}

.view:hover {
	border: 2px solid #216adf;
	font-size: 16px;
	transition: 0.3s;
}

.about-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	line-height: 1.2;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
	padding: 40px;
	height: 50%;
}

.about h1 {
	color: #d1d5db;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-decoration-color: #216adf;
	font-size: 3em;
	margin-bottom: 20px;
}
.description-2 {
	max-width: 500px;
	color: #a3bfd9;
}
.intro-container {
	display: flex;
	column-gap: 1em;
}

.intro {
	color: #d1d5db;
}

.skills-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	line-height: 1.2;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
	padding: 40px;
	width: 900px;
	height: 50%;
}

.skills h1 {
	color: #d1d5db;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-decoration-color: #216adf;
	font-size: 3em;
	margin-bottom: 20px;
}

.skills-description {
	color: #d1d5db;
	font-size: 16px;
}

.technologies {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 5px;
	margin-bottom: 10px;
	height: 300px;
}

#tech-container {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
	padding: 20px;
	cursor: pointer;
	border: 1px solid #216adf;
	border-radius: 20px;
	transition: 0.1s;
}

#tech-container:hover {
	border: 1px solid #d1d5db;
}

.technologies p {
	color: #d1d5db;
	font-size: 16px;
	text-align: center;
}

#html-image,
#css-image,
#github-image,
#js-image,
#angular-image {
	width: 100px;
	transition: 0.3s;
}
/* #html-image:hover,
#css-image:hover,
#github-image:hover,
#js-image:hover,
#angular-image:hover {
	width: 110px;
} */

@media only screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #011b30;
		height: 120px;
	}

	#section-about {
		height: 120vh;
	}

	section {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
	}

	.technologies {
		flex-wrap: wrap;
		height: 90%;
	}

	#html-image,
	#css-image,
	#github-image,
	#js-image,
	#angular-image {
		width: 70px;
		transition: 0.3s;
	}

	/* #html-image:hover,
	#css-image:hover,
	#github-image:hover,
	#js-image:hover,
	#angular-image:hover {
		width: 75px;
	} */

	#section-skills {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		/* height: 90vh; */
	}

	/* .home-container {
		width: 50%;
	} */

	#tech-container {
		box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
		padding: 15px;
		margin-bottom: 10px;
		cursor: pointer;
		border: 1px solid #216adf;
		border-radius: 10px;
		transition: 0.3s;
	}

	#tech-container:hover {
		border: 1px solid #d1d5db;
	}
	.skills-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		line-height: 1.2;
		box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
		padding: 1.5em;
		height: 70vh;
	}

	.links-container {
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.links-container a {
		margin-right: 20px;
		text-decoration: none;
		padding: 0px;
		color: white;
		transition: 0.3s;
		border-radius: 10px;
	}

	.links-container a:hover {
		border: none;
		border-radius: 10px;
		font-size: 18px;
	}

	#section-about {
		width: 100%;
	}

	.profession {
		color: #a3bfd9;
		font-size: 30px;
	}

	.about-container {
		height: 60%;
	}
}
